.search-box-container{
   margin-top: 2.4rem;
   margin-bottom: 2.4rem;
   display: inline-flex;
   margin-left: 22vw;
   width: 78vw;
   height: fit-content;

   display: flex;
   align-items: center;
   justify-content: center;
}

.search-box{
   display: inline-flex;
   width: 64vw;
   height: 10vh;
   background-color: rgba(255, 255, 255, 0.4);
   
   display: flex;
   align-items: center;
   padding: 20px;

   border-radius: 100px;
   border-width: 3px;
   border-style: solid;
   border-color: var(--color-primary-dark);
}

.search-box img{
   width: 2.4rem;
   margin-right: 0.8rem;
}

.search-box input{
   flex:1;
   height: 4rem;
   width: 8rem;
   border: none;
   outline: none;

   padding-left: 0.8rem;
   background-color: rgba(255, 255, 255, 0.4);
   font: 600 1.6rem Nunito;
   color: var(--color-text-lighter);
}

.search-box button{
   background: none;
   border-style: none;
   width: fit-content;
   height: fit-content;
   margin-top: 0.8rem;
}


@media (max-width: 700px) {
   .search-box-container{
      display: inline-flex;
      margin-left: 11vw;
      width: 78vw;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .search-box{
      width: 128vw;
   }
}