.menu{
   background: var(--color-primary);
   /* border-radius: 0 0 6.4rem 6.4rem; */ /*Quando mostrar as opções*/
   border-radius: 0; /*Quando "esconder" as opções*/
}

.nav-bar{
   width: 100vw;
   height: 20vh;

   display: flex;
   justify-content: center;
   align-content: center;
}

#logo-img{
   width: 20rem;
}

#logo-img:hover{
   width: 22rem;
}

#options-img{
   position: absolute;
   align-self: center;
   left: 3.2rem;
   width: 4.2rem;
}

#options-img:hover{
   width: 4.5rem;
   animation: ease-in-out;
}

.menu-options{
   width: 100vw;

   /* display: flex; */ /*Quando mostrar as opções*/
   display: none; /*Quando "esconder" as opções*/
   
   justify-content: center;
   align-content: center;

   color: var(--color-text);
   animation: 0.6s;
}

.menu-options ul a{
   text-decoration: none;
   list-style-type: none;

   margin-left: 3.2rem;
   margin-top: 1.6rem;

   color: var(--color-text);
   font: 400 2.4rem Poppins;
}

.menu-options li{
   line-height: 4.8rem;
}

.menu-options li a{
   text-decoration: none;
}

.menu-options li a:hover{
   color: var(--color-primary-dark);
}

#logout-button{
   color: var(--color-button);
   font: 400 1.6rem Poppins;
   margin-bottom: 4rem;
   margin-top: 3.2rem;
}

#logout-button:hover{
   color: var(--color-button-dark);
}

@media (min-width: 700px) {
   .menu{
      position: fixed;
      left: 0;
      background-color: var(--color-primary);
      width: 22vw;
      border-radius: 0;
      height: 100%;
   }
   
   .nav-bar{
      height: 15vh;
      display: flex;
   }
   
   #logo-img{
      width: 70%;
      position: absolute;
      left: 3.2rem;
      margin-top: 3.2rem;
   }
   
   #options-img{
      display: none;
   }
   
   .menu-options{
      height: 85vh;
      margin-top: 2.4rem;
      display: flex;
      justify-content: left;
      color: var(--color-text);
   }
   
   .menu-options ul{
      text-decoration: none;
      list-style-type: none;     
   }
   
   .menu-options li{
      line-height: 4rem;
   }
   
   .menu-options li button{
      margin-bottom: 0.8vw;
      width: fit-content;
      background: none;
      border-style: none;

      align-content: space-between;
      color: var(--color-text);
      font: 400 1.6vw Poppins;
   }
   
   #logout-button{
      color: var(--color-button);
      font: 400 1.6rem Poppins;
   }
}