:root{
   font-size: 60%;

   --color-primary-dark: #3D5A80;
   --color-primary: #98C1D9;
   --color-primary-light: #E0FBFC;
   --color-button: #EE6C4D;
   --color-text: #293241;
   --color-background: #F8F8FA;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body, #root{
   height: 100vh;
}

body{
   background: var(--color-background);
}

#root{
   display: flex;
   /* align-items: center; */
   justify-content: center;
}

body, 
input, 
button, 
textarea{
   font: 500 1.6rem Nunito;
}

/* .container{
   width: 90vw;
   max-width: 700px;
} */

@media (min-width: 700px){
   :root{
      font-size: 62.5%;
   }
}