/* .addPost{
   display: flex;
   direction: ltr;
   align-items: center;
   margin-left: 7%;
}

.addPost a{
   text-decoration: none;
}

.addPost img{
   width: 60%;
   margin-right: 2%;
}

.addPost h1{
   text-decoration: none;
   text-align: left;
   font-family: 'Nunito', sans-serif;
   font-size: x-large;
   color: rgba(41, 50, 65, 0.8);
} */

.add-post-container{
   display: inline-flex;
   width: 100vw;
   justify-self: center;
   justify-content: center;
   align-content: center;
   margin-top: 2.4rem;
}

.add-post-button{
   background: none;
   border-style: none;
}

.add-post-button img{
   width: 5.6rem;
}

.add-post-container h1{
   font: 600 3.2rem Nunito;
   color: var(--color-text-title);
   align-self: center;
   margin-left: 1.6rem;
}