.add-post-container{
   display: inline-flex;
   width: fit-content;
   margin-left: 15vw;
   align-content: center;
}

.add-post-button{
   background: none;
   border-style: none;
}

.add-post-button img{
   width: 5.2rem;
}

.add-post-container h1{
   font: 600 3.2rem Nunito;
   color: var(--color-text-title);
   align-self: center;
   margin-left: 1.6rem;
}

#piu-text-area{
   display: block;
   position: relative;
   right: 39vh;
   margin: 2.4rem;
   background: var(--color-primary-light);
   border-color: var(--color-primary-dark);
   border-radius: 1.6rem 1.6rem;
}

#send-button{
   position: relative;
   width: 6rem;
   height: 6rem;
   border-style: none;
   right: 30vh;
   background-color: var(--color-button);
   border-radius: 50%;
   font: 600 1.6rem Nunito;
   color: var(--color-text-lighter);
}

@media (max-width: 700px) {
   .add-post-container{
      display: inline-flex;
      margin-left: 5.6vw;
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .add-post-button img{
      width: 4.8rem;
   }
   
   .add-post-container h1{
      font: 600 2.4rem Nunito;
      color: var(--color-text-title);
      align-self: center;
      margin-left: 1.6rem;
   }
}